<h3>Links</h3>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>loc</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @links.all.try(:each) do |link| %>
      <tr>
        <td>
          <%= link.loc %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
