<h3>Links</h3>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>loc</th>
      <th>priority</th>
      <th>last_mod</th>

    </tr>
  </thead>
  <tbody>
    <% @links.all.try(:each) do |link| %>
      <tr>
        <td>
          <%= link.loc %>
        </td>
        <td>
          <%= link.prority %>
        </td>
        <td>
          <%= link.last_mod %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'download XML', download_sitemap_path(@sitemap, format: 'xml'), class: 'btn btn-success' %>
<p class="text-info">right click on above button and click 'save link as' to save download.xml file</p>